<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Symfony{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/nabi.css') }}">
    {% endblock %}
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <!-- <a href="{{ path('pageAccueilGuinot_index') }}"> Page d'accueil de Guinot !</a> -->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if app.user %}




                    {% else %}
                    <h1>NOUVELLE BASE ! </h1>
                    <li><a href="{{ path('pageAccueilGuinot_index') }}"> Page d'accueil de GUINOT ! </a></li>
                    <li><a href="{{ path('introductionGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
                    <li><a href="{{ path('motDuPresidentDeGuinot_index') }}"> Mot du président de Guinot ! </a></li>
                    <li><a href="{{ path('historiqueGuinot_index') }}"> D'écouvrez l'historique de Guinot ! </a></li>
                    <li><a href="{{ path('formationGuinot_index') }}"> Liste des formations de Guinot :</a></li>
                    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
                    <li><a href="{{ path('contacts_index') }}"> Liste des contacts ! </a></li>
                    <li><a href="{{ path('message_index') }}"> Liste des messages : </a></li>
                    <li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs : </a></li>
                        
                                        
                    
                    
                    <li><a href="{{ path('app_logout') }}"> se déconnecter </a></li>

                    
                    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
                    <li><a href="{{ path('contacts_index') }}"> Liste des contacts ! </a></li>
                    <li><a href="{{ path('message_index') }}"> accéder au service de tchat public !</a></li>
                    <li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs : </a></li>
                    <li><a href="{{ path('introductionGuinot_index') }}"> INTRODUCTION SUR GUINOT ! </a></li>
                    <li><a href="{{ path('motDuPresidentDeGuinot_index') }}"> Mot du président de Guinot ! </a></li>
                    <li><a href="{{ path('historiqueGuinot_index') }}"> D'écouvrez l'historique de Guinot ! </a></li>
                    <li><a href="{{ path('formationGuinot_index') }}"> Liste des formations de Guinot :</a></li>
                    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
                    <li><a href="{{ path('contacts_index') }}"> Liste des contacts ! </a></li>
                    <li><a href="{{ path('message_index') }}"> Liste des messages : </a></li>
                    <li><a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs : </a></li>
                                                                                    
                    {% endif %}

                    {% if 'register' == app.request.attributes.get('_route') %}
                    
                    
                    {% endif %}
                    
                    {% if 'login' == app.request.attributes.get('_route') %}
                    

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
        $('select').formSelect();
    </script>
    {% endblock %}
</body>

</html>
