{% extends 'base.html.twig' %}

{% block title %}
Liste des contacts :
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br/>
<hr/>
<br/>
{% block content %}
<div class="example-wrapper">

<h1>
Retrouvez vos souven    irs les plus lointains !    
    </h1>
<br/>
<hr/>
<br/>

<h1>Qui sommes-nous ?</h1>
<br/>
<hr/>
<br/>

<h3>Témoignages</h3>
<br/>
<hr/>
<br/>

<h6>Contactez-nous</h6>
<br/>
<hr/>
<br/>

<h1>Communauté</h1>
<br/>
<hr/>
<br/>

<h3>Contactez l’équipe de </h3>
<br/>
<hr/>
<br/>

<h6>Plan du site</h6>
<br/>
<hr/>
<br/>

<h2>Ressources</h2>
<br/>
<hr/>
<br/>

<h5>Blog</h5>
    

    <br/>

</div>
{% endblock %}

<br/><br/>

{% block footer %}
{% endblock %}
{% endblock %}