{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur le site retrouvailles.com !
{% endblock %}

{% block content %}

 <div class="container">
      
    <h1> Retrouvailles et Témoignages ! </h1>
    
    <div>
    <p>
    </p>
    <br/><br/>

    <p>
    </p>
    <br/><br/>

    <p>
    </p>        
 </div>
{% endblock %}
