{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur le site retrouvailles.com !
{% endblock %}

{% block content %}

 <div class="container">
      
<hr/>
<br/>

<h1>
Retrouvez vos souvenirs les plus lointains !    
    </h1>
<br/>

    </div>

<br/><br/>

{% block footer %}
<div>

Cliquer ici pour plus de informations !
<lu>
    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
</lu>
</div>
{% endblock %}


{% endblock %}
