{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur le site retrouvailles.com !
{% endblock %}

{% block content %}

 <div class="container">
      
    <div class="example-wrapper">
<br/>
<hr/>
<br/>

<h1>
Retrouvez vos souvenirs les plus lointains !    
    </h1>
<br/>
<hr/>
<br/>

<h1>Qui sommes-nous ?</h1>

<br/>
<hr/>
<br/>

<h6>Contactez-nous</h6>
<br/>
<hr/>
<br/>

<h1>Communauté</h1>
<br/>
<hr/>
<br/>
<h5>Blog</h5>
    </div>

<br/><br/>
<hr/>

{% block footer %}
<div>

Cliquer ici pour plus de informations !
<lu>
    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
</lu>

<h3>    Plan du site</h3>

<h5> Ressources : </h5>

    </div>
{% endblock %}


{% endblock %}
