{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur la page de l'historique de Guinot !
{% endblock %}

{% block body %}
	<style>
		.contenu {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.contenu code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<br/><br/>

{% block content %}

 <div class="container">
<br/><br/>
      
    <h1> Bienvenu(e) sur la page de l'historique de Guinot !</h1>
<br/><br/>
    
    <div>
    <h1> Historique : </h1>
    
    <p>
        Paul Guinot est durant près d’un siècle l’une des grandes figures du monde des aveugles et 
des malvoyants. Connu pour son caractère indomptable et très actif, 
il est à l’origine d’un grand nombre d’actions tendant à mettre en place un minimum de protection
juridique et sociale en faveur des personnes handicapées visuelles.
Mais la partie la plus novatrice de son action est son acharnement à essayer de regrouper 
Les aveugles pour qu’ils prennent eux-mêmes leur destin en main, sortant ainsi du domaine 
de la charité‚ pour accéder à celui de la citoyenneté.
Né le 13 mai 1884 à Mirecourt dans les Vosges, il est d’abord dessinateur dans une maison 
De broderie. Aveugle à la suite d’un accident à l’âge de 25 ans, il arrive à Cannes en 1915. 
Après une formation de masseur, il y crée en avril 1917, une « Maison des Aveugles » pouvant
soigner et recevoir les grands blessés de la vue dans un environnement favorable. La
rééducation des aveugles de guerre étant terminée, Paul GUINOT crée en 1921,
« l’Établissement Professionnel Climatique d’Aveugles » qui permettra de prolonger
l’action de son Centre, en l’étendant aux aveugles civils.
C’est alors qu’il prend conscience de la fracture qui est en train de se produire entre aveugles
de guerre et aveugles civils. Les premiers sont solidaires, organisés, et bénéficient du soutien
de la « patrie reconnaissante » ; alors que les aveugles civils sont dispersés, inorganisés, sans
moyens, ne pouvant compter que sur le soutien d’œuvres caritatives.
Dès 1923, Paul Guinot prend l’initiative d’une action d’envergure en créant son propre
journal la « Voix des Aveugles ». C’est un acte fondamental visant à promouvoir
l’amélioration du sort des aveugles par la loi. II n’est plus question de charité mais d’équité.
Tout doit être entrepris pour les aveugles et, dans la mesure du possible, par les aveugles.
Le mouvement est lancé : les aveugles civils, à l’image des aveugles de guerre se regroupent
pour réclamer leur place dans la société. Le premier secrétariat général de leur Groupement
National s’installe à Cannes.
Les succès sont rapides et reconnus puisqu’en 1928 la «  Maison des Aveugles »
obtient du gouvernement sa reconnaissance d’utilité publique.
Page 4 sur 21
Chapitre I -4
&quot;Guide pour le personnel de l’Association Paul Guinot&quot; – septembre 2020
Les principales étapes
de ce long travail seront:
L’inlassable travail
législatif recommence.
51 départements
attribuent aux
personnes
aveugles dont ils
ont la charge des
suppléments
d’allocation.
1926:
1928:
Les grands réseaux
de chemin de fer
accordent à tous les
aveugles civils
français la gratuité de
transport de leur
guide.
1930:
La loi Lambert
accorde le droit à
l’aide constante d’un
tiers, aux aveugles et
aux grands infirmes.
Puis le mouvement
s’accélère : fondation
de la Canne Blanche,
congrès de New
York,
perfectionnement de
la loi Lambert,
création de la
Fédération
Internationale des
Unions d’Aveugles,
première journée
nationale des Cannes
Blanches, etc.
  C’est alors que survient la seconde guerre
mondiale. Paul Guinot ne reste pas inactif. II
met en place en 1942, à Paris, une structure
spécialisée dans le reclassement des aveugles
par le travail: le «Centre général
d’Orientation et de Rééducation pour
Aveugles». A la libération, ce centre se
développant, il faut louer un hôtel particulier et
des locaux pour commercialiser le travail des
brossiers. Une coopérative est même créée
pour leur venir en aide. La section kinésithérapie
devient rapidement très importante avec de
bons résultats au tout nouveau diplôme de
masseur kinésithérapeute
Le premier gouvernement de libération
promulgue l’ordonnance, préparée
antérieurement, tendant à coordonner
l’activité‚ de toutes les institutions
d’aveugles, publiques ou privées,
prévoyant l’organisation de leur travail
sous l’autorité‚ de l’Etat, instituant une
allocation de compensation pour les
aveugles travailleurs.
La préparation de la loi Cordonnier fut
l’occasion d’un intense travail préparatoire inter
associatif. Voté en 1949, cette loi instaure la
priorité des aveugles brossiers dans les
commandes de l’État, donne accès à la fonction
publique aux professeurs aveugles et améliore le
régime des allocations compensatrices.
Les cendres de Louis Braille sont transférées
au Panthéon à l’occasion du centenaire de sa
mort. Paul Guinot a été l’un des principaux
artisans de cette opération.
Dès
1945
1948-1949
1952
1962
L’Association transfère son
siège à Paris.
  Le 12 juin 1969, Paul Guinot décède.


    </p>
    
<br/><br/>

{% block footer %}
<div>
<h3>
Pied de page :

Cliquer ici pour plus de informations !
</h3>
<lu>
    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
        </lu>
    
</div>
{% endblock %}

{% endblock %}
{% endblock %}
