{% extends 'base.html.twig' %}

{% block title %}
 Enregistrement d'un médiats :
 {% endblock %}

{% block content %}
 <br> <br>
 
    <h1> Enregistrement d'un médiats : </h1>

    {{ include('mediats/formulaireMediats.html.twig') }}<br>

    <a href="{{ path('mediats_index') }}">Liste des médiats :</a><br>


{% endblock %}
