{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur la page de mot du président de Guinot !
{% endblock %}

{% block body %}
	<style>
		.contenu {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.contenu code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<br/><br/>

{% block content %}

 <div class="container">
      
    <h1> Bienvenu(e) sur la page de mot du président de Guinot !</h1>
    <div>
    <a href="
    
    ">! </a>
    <p>
Mot du président
L’année 2021 devait être la fin de cette période exceptionnelle qu’est la 
pandémie de Covid-19, pourtant en ce début d’année 2022 il serait plus juste 
d’admettre que l’extraordinaire s’est transformé en étrange normalité. 
Pour l’association Paul Guinot, cela se ressent le plus fortement sur nos 
activités de formations qualifiantes au sein de notre Etablissement et Services 
de Réhabilitation Professionnelle, qui forme chaque année environ 150 
stagiaires et étudiants aux métiers de masseur-kinésithérapeute, conseiller 
relation client à distance et développeur web et web mobile.
En effet, si la qualité des formations repose en grande partie sur 
l’expertise de nos formateurs, les moyens à notre disposition pour adapter 
efficacement les supports de formation aux capacités des personnes 
déficientes visuelles sont cruciaux. Or, en cette période de crise sanitaire, la 
nécessité d’acquérir des outils techniques de compensation et de mettre en 
place des solutions innovantes pour le téléenseignement est d’autant plus
renforcée. 
Il peut paraître trivial de rappeler que les personnes aveugles ont pour 
caractéristique de ne pas voir, mais ce simple fait est parfois oublié par leurs 
pairs voyants qui extrapolent la cécité à d’autres limitations. Entendons-nous 
bien : l’incapacité à traiter des informations visuelles ne veut pas dire 
incapacité à traiter l’information. Celle-ci peut être transmise autrement que 
par voie visuelle, par exemple par le biais de dispositif tactile, comme les plages 
brailles, ou par voie auditive, avec les logiciels de synthèse vocale.
Similairement, les personnes malvoyantes ne voient pas « comme tout le 
monde », mais elles en sont capables grâce à une luminosité particulière ou un 
logiciel d’agrandissement d’écran. Avec ces outils, la personne aveugle ou 
malvoyante peut révéler son potentiel productif, à égalité avec la personne 
voyante. C’est le principe même d’une société inclusive. 
Pour financer ces outils, mais aussi les innovations liées aux technologies 
de téléenseignement adapté – indispensable en ces temps de pandémie – nous 
passons principalement par le biais de la taxe d’apprentissage. Celle-ci est une
contribution obligatoire à la formation professionnelle égale à 0.68% de la 
masse salariale, versée par les entreprises exerçant une activité industrielle, commerciale ou artisanale, soumises au droit français et assujetties à l’impôt 
sur les sociétés, sans distinction de taille ou de revenus.
La taxe d’apprentissage ne se justifie pas seulement par son aspect 
pécuniaire, elle est aussi l’occasion de nouer une relation d’échange entre le 
monde du travail et la formation - deux faces d’une même pièce. Pour notre 
ESRP, il s’agit d’une belle opportunité pour mettre à jour nos contenus de 
formation, afin de répondre aux critères évolutifs de l’entreprise, tout en 
démontrant la compatibilité entre un parcours professionnel riche en milieu 
ordinaire et les compétences de la personne en situation de handicap visuel.
Aussi, si vous êtes salarié ou susceptible de connaitre une entreprise 
intéressée par les activités de l’association Paul Guinot, nous vous invitons à 
mobiliser votre réseau professionnel pour proposer le versement de la taxe 
d’apprentissage à notre établissement, en copiant collant le texte suivant : 
« Bonjour, Concernant le versement de la taxe d’apprentissage de 2022, je 
souhaitais vous suggérer l’association Paul Guinot qui gère un centre de 
formation pour les personnes aveugles et malvoyantes. Trois formations y sont 
proposées : masseur-kinésithérapeute, développeur web et web mobile, 
conseiller relation client à distance. Ils utilisent la taxe d’apprentissage pour 
acheter du matériel adapté et améliorer le contenu des formations. Ainsi, en la 
leur versant, vous contribuez directement à l’inclusion professionnelle des 
personnes aveugles et malvoyantes. Vous pouvez leur verser ici : [lien]» 
Si vous êtes chef d’entreprise, verser la taxe d’apprentissage de 2022 à 
notre structure est une manière de contribuer efficacement à l’inclusion 
professionnelle des personnes aveugles et malvoyantes en leur garantissant 
des conditions de formation optimales.
Je vous invite donc chaleureusement à verser la taxe d’apprentissage 2022 à 
l’association Paul Guinot : cliquez ici
En vous souhaitant une belle et fructueuse année 2022,
Bachir Kerroumi
Le Président 


    </p>
    
<br/><br/>
{% block footer %}
<div>
<h3>
Qui sommes nous !
Cliquer ici pour plus de informations !
</h3>
<lu>
    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
        </lu>
    </div>
{% endblock %}

{% endblock %}
{% endblock %}
