{% extends 'base.html.twig' %}

{% block title %}
Cours en vidéo :
{% endblock %}

{% block body %}
	<style>
		.contenu {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.contenu code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<br/><br/>

{% block content %}

 <div class="container">
<h1> Cours en vidéo :
 </h1>      
    <div>
    <a href="https://youtu.be/kQS41p1B9ks">
Cours sur Symfony :</a>
    <p>
    Symfony est un ensemble de composants réutilisable
et un Framework  web php
un ensemble d'outils pour nous facilité à effectuer des taches la création et la conseption d'une application web.

    </p>
    <br/><br/>
    
<a href="https://youtu.be/SG7GgcnR1F4">Introduction à API Platform dans un projet Symfony !</a>
<p>
Introduction à API Platform dans un projet Symfony
</p>
<br/><br/>
    
    <a href="https://youtu.be/SG7GgcnR1F4">CREER UNE API AVEC SYMFONY 5 - EPISODE 1 - LE SERIALIZER !</a>
<p>
CREER UNE API AVEC SYMFONY 5 - EPISODE 1 - LE SERIALIZER
</p>
<br/><br/>
    



 </div>


<br/><br/>
{% block footer %}
<div>
<h1>Cliquer ici pour plus d'informations !</h1>
<lu>
    <li><a href="{{ path('listeDesFormations_index') }}"> Découvrez nos formations !</a></li>
        </lu>
    <p>
directeur des études  : saidani akli, 
Adresse : 70 Avenue du général De Gaulle, 94000  Créteil.
Tel : 06 13 54 10 16 
Fax : +33 6 13 54 10 16
Email : akli.saidani2000@gmail.com
</p>


</div>
{% endblock %}

{% endblock %}
{% endblock %}
