{% extends 'base.html.twig' %}

{% block title %}
Liste des cours en PYTHON :
{% endblock %}

{% block content %}

 <div class="container">
      
<br/>

<h1>
Liste des cours en PYTHON :
</h1>

<hr/>
<br/>

<h1>
Accédez à la liste de nos cours en PYTHON !    
    </h1>
<br/>
<hr/>
<br/>

    <div>
  <lu>
    <li><a href="{{ path('listeDesCours_index') }}"> Liste des cours en PYTHON : </a></li>
</lu>
 </div>
 
  
  
  
  
    </div>

<br/><br/>

{% block footer %}
<div>
<h1>Cliquer ici pour plus d'informations !</h1>
<lu>
    <li><a href="{{ path('listeDesFormations_index') }}"> Découvrez nos formations !</a></li>
        </lu>
    <p>
directeur des études  : saidani akli, 
Adresse : 70 Avenue du général De Gaulle, 94000  Créteil.
Tel : 06 13 54 10 16 
Fax : +33 6 13 54 10 16
Email : akli.saidani2000@gmail.com
</p>

</div>
{% endblock %}


{% endblock %}
