{% extends 'base.html.twig' %}

{% block title %}
Bienvenu(e) sur la page d'introduction de Guinot !
{% endblock %}

{% block body %}
	<style>
		.contenu {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.contenu code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
<br/><br/>

{% block content %}

 <div class="container">
<br/><br/>
      
    <h1> 
Bienvenu(e) sur la page d'introduction de Guinot !</h1>
<br/><br/>
    
    <div>
    <h1> INTRODUCTION : </h1>
    
    <p>
    L’Etablissement et Service de Réadaptation Professionnelle Paul et Liliane Guinot 
forme des personnes handicapées visuelles en vue d’une intégration professionnelle 
en milieu ordinaire de travail 
par le biais d’une formation professionnelle 
et d’un accompagnement social en milieu spécialisé.
Le centre accueille chaque année 125 personnes aveugles et malvoyantes, en primo-formation ou en reclassement professionnel. 
Pour s’inscrire à une des formations proposées par l’ESRP, 
les personnes en situation de handicap visuel doivent s’adresser à leur MDPH (Maisons Départementales des Personnes Handicapées) 
pour obtenir une Reconnaissance de la Qualité de Travailleur Handicapé (RQTH) 
ainsi qu’une Orientation professionnelle (OP).


Formations
 Masseur-Kinésithérapeute
 Conseiller Relation Client à Distance
 Développeur Web et Web Mobile


    </p>
    
<br/><br/>

{% block footer %}
<div>
<h3>
Pied de page :

Cliquer ici pour plus de informations !
</h3>
<lu>
    <li><a href="{{ path('mediats_index') }}"> Liste des médiats ! </a></li>
        </lu>
    
</div>
{% endblock %}

{% endblock %}
{% endblock %}
