{% extends 'base.html.twig' %}

{% block title %}
 Bienvenu(e) dans votre espace personel ! 

{% endblock %}

{% block content %}
    <h1>
 Bienvenu(e) dans votre espace personel ! 

    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                 <th>Civilité</th>
                 <th> Date de naissance</th> 
                 <th>Adresse</th> 
                 <th>Email</th> 
</tr>
        </thead>
        <tbody>
            <tr>




        </tr>
        </tbody>
    </table>

    {% endblock %}
