{% extends "base.html.twig" %}

{% block title %}
Bien venu sur la page d'accueil de votre espace personnel !
 {% endblock %}

{% block body %}

<br/><br/>
{% block content %}
<div>
    <lu>
    <li><a href="{{ path('medias_index') }}">Liste de mes médias : </a></li>
<li><a href="{{ path('contacts_index') }}"> Liste de mes contacts :</a></li>
<li><a href="{{ path('message_index') }}"> Liste de mes messages personnels :</a></li>
</lu>
    <h1>
    Bien venu ! 
    
    Page d'accueil de votre espace personnel :

</h1>
    <h3> Vous êtes dans votre espace personnel !</h3>

    <br/><br/>
    <p> Vous pouvez gérer ici toutes les informations personnelles vous concernant. La consultation de vos messages, leur suppression ou non, la consultation de vos contacts, la recherche de nouveaux!
        Bonne visite! </p>
</div>
{% endblock %}

<br><br>
{% block footer %}
<div>
<h1>Cliquer ici pour plus de informations !</h1>
<a href="{{ path('historiqueGuinot_index') }}"> Qui somme nous ?</a></li>
<lu>
    <li>Formations :</li>
    <li>  Masseur-Kinésithérapeute !</li>
    <li>  Conseiller Relation Client à Distance !</li>
<li>  Développeur Web et Web Mobile  !</li>
<li> Adresse : 24-26 bd Chastenet de Géry </li>
<li>Code postal :  94814 Villejuif Cedex </li>
<li> Tél : 01 46 78 01 00 </li>
<li> Fax : 01 46 78 50 35</li>
<li>Email :  paul   guinot@guinot.asso.fr </li>
</lu>
</div>
{% endblock %}


{% endblock %}
