{% extends 'base.html.twig' %}

{% block title %}
 Enregistrement d'une nouvelle formation :
 {% endblock %}

{% block content %}
 <br> <br>
 
    <h1> Enregistrement d'une nouvelle formation : </h1>

    {{ include('formations/formulaireFormation.html.twig') }}<br>

    <a href="{{ path('accueil_index') }}"> Revenir à la page d'accueil :</a><br>


{% endblock %}
