 <section  class="meetings-page" id="meetings">
    <div class="footer">
      <p>Copyright © 2022 Mohammed Nabi. All Rights Reserved. 
          <br>Design: <a href="{{ path('accueil_index') }}">Mohammed NABI</a></p>
    </div>
  </section>