{% extends 'base.html.twig' %}


{% block title %}
Message envoyer :
 {% endblock %}

{% block content %}
 <br> <br>
 
    <h1>
Message envoyer :    
     </h1>
<br /><br />

<p>Messages envoyer :{{ app.user.messageEnvoyer|length }}</p>

    <a href="{{ path('message_index') }}">Liste des messages :</a><br>


{% endblock %}
