{% extends 'base.html.twig' %}


{% block title %}
Modification  du message 
 {% endblock %}

{% block content %}
 <br> <br>
 
    <h1>
Modification  du message 
    </h1>

    {{ include('messages/formulaireMessage.html.twig') }}<br>

    <a href="{{ path('message_index') }}"> Retour à la liste des messages :</a><br>


{% endblock %}
